.background-img-header{
    min-height: 500px;
    background-image: linear-gradient(rgb(255,255,255) 0%, rgb(255,255,255) 18%, transparent 30%, transparent 87%, rgb(255,255,255) 100%), url('../img/header-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    
}

.header-h1{
    color: antiquewhite;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.error-top-messages{
    position: absolute;
    width: 50%;
    top: 60px;
    background-color: rgba(239, 157, 157, 0.663);
    backdrop-filter: blur(5px);
}

.top-messages{
    position: absolute;
    width: 50%;
    top: 60px;
    background-color: rgba(201, 239, 157, 0.663);
    backdrop-filter: blur(5px);
}